@model Group10_Project.Models.Decision

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Decision</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateOfDecision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfDecision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finalDecision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finalDecision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EO.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EO.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermitRequest.activityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermitRequest.activityDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
