@model Group10_Project.Models.Decision

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Decision</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateOfDecision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfDecision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finalDecision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finalDecision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EO.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EO.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermitRequest.activityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermitRequest.activityDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
