@model Group10_Project.Models.Permit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Permit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateOfIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EO.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EO.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RE.contactPersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RE.contactPersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermitRequest.activityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermitRequest.activityDescription)
        </dd>

    </dl>
</div>
